*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #080808;
    color: #fff
}
#header{
    width: 100%;
    height: 100vh;
    /* background-image: url(https://4kwallpapers.com/images/walls/thumbs_3t/4523.jpg); */
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
}